
<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h3><%="Room Available in " +post.location%></h3>
    <p><%=post.price%></p>
    <p><%=post.gender%></p>
    <p><%=post.occupation%></p>
    <p><%=post.singleOrSharing%></p>

    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
