
<%- include("partials/header"); -%>


<h3><%="Room Available in "+location%></h3>
<p><%=price%></p>
<p><%=occupation%></p>
<p><%=gender%></p>
<p><%=singleOrSharing%></p>

<p><%=content%></p>




<%- include("partials/footer"); -%>
